* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.mainDiv {
  /* margin-left: 10vw; */
  background-color: #eff1f6;
}

.navigationBar {
  padding: 10px 10px;
  width: 88px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  box-shadow: #d2d3d7 0px 0px 5px 0px;
  border-radius: 0px 24px 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  height: 10px;
  width: 10px;
}

.icons div {
  /* margin-top: 4vh; */
  margin: 2vh 0;
}

.icon {
  margin-top: 2vh;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 120px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
  margin-right: auto;
}

.welcome{
  margin-left: 100px;
  display: flex; 
  align-items: center;
}

.userWelcome {
  margin-left: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #101840;
}

.search input {
  margin: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.category select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.notification img {
  margin-left: 10px;
  cursor: pointer;
}

.userProfile{
  margin-top: 28vh !important;
}